<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/index}">

<body>
	<div layout:fragment="Content">
		<!-- <div class="container p-5 my-5">
			<div class="row"
				style="height: 55rem; background: url('https://i.pinimg.com/originals/8e/a3/12/8ea312644ee67357d4f15aafd2cc1354.jpg'); background-size: cover; border-top-left-radius: 50rem;">
				<div
					class="col-lg-6 d-flex justify-content-center align-items-center">
					<form class="p-5 flex-grow-1 mb-5" method="post" action="/sign-in">
						<h3>Login to Sdevice</h3>
						<div class="mb-3">
							<label for="exampleInputEmail1" class="form-label">Email
								address</label> <input type="email" class="form-control"
								id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
						</div>
						<div class="mb-3">
							<label for="exampleInputPassword1" class="form-label">Password</label>
							<input type="password" class="form-control"
								id="exampleInputPassword1" name="password">
						</div>
						<div class="mb-3 form-check">
							<input type="checkbox" class="form-check-input"
								id="exampleCheck1"> <label class="form-check-label"
								for="exampleCheck1">Check me out</label>
						</div>
						<div class="col d-flex justify-content-between mb-3">
							<a th:href="@{/oauth2/authorization/facebook}"
								class="bg-primary text-light btn"><i class="fab fa-facebook me-2"></i>Login with Facebook
							</a> <a th:href="@{/oauth2/authorization/google}"
								class="bg-danger text-light btn"><i class="fab fa-google me-2"></i> Login with Google+</a>
						</div>
						<button type="submit" class="btn btn-primary w-100">Sign In</button>
					</form>
				</div>
				<div class="col-lg-6"></div>
			</div>
		</div> -->
	</div>
</body>
</html>