<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashBoard}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CatPhone - Admin</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="location p-2">
				<span>Admin/Customer</span>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="mt-4 col-3">
							<form method="get">
								<input class="form-control me-2" type="text" placeholder="Search" name="search">
								<button type="submit" class="btn btn-outline-primary mt-2">Search</button>
							</form>
						</div>
					</div>
					<hr>
					<table class="table text-center">
						<thead>
							<tr>
								<th scope="col">No.</th>
								<th scope="col">Customer ID</th>
								<th scope="col">First Name</th>
								<th scope="col">Last Name</th>
								<th scope="col">Birth Day</th>
								<th scope="col">Gender</th>
								<th scope="col">Email</th>
								<th scope="col">Password</th>
								<th scope="col">Phone</th>
								<th scope="col">Address</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user, userStat : ${userList}">
								<td th:text="${userStat.index + 1}"></td>
								<td th:text="${user.id}"></td>
								<td th:text="${user.firstName}"></td>
								<td th:text="${user.lastName}"></td>
								<td th:text="${#dates.format(user.birthDay, 'dd-MM-yyyy')}"></td>
								<td th:text="${user.gender}"></td>
								<td th:text="${user.email}"></td>
								<td>****</td>
								<td th:text="${user.phone}"></td>
								<td th:text="${user.address}"></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${page.totalPages > 0}"
						class="d-flex justify-content-center">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item"
									th:classappend="${page.number == 0 ? 'disabled' : ''}"><a
									class="page-link"
									th:href="@{/cat-phone/admin/customer(page=${page.number - 1}, search=${search})}"
									aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
								</a></li>
								<li class="page-item disabled"><a class="page-link"> <span
										th:text="'Page ' + ${page.number + 1} + ' of ' + ${page.totalPages}"></span>
								</a></li>
								<li class="page-item"
									th:classappend="${page.number + 1 >= page.totalPages ? 'disabled' : ''}">
									<a class="page-link"
									th:href="@{/cat-phone/admin/customer(page=${page.number + 1}, search=${search})}"
									aria-label="Next"> <span aria-hidden="true">&raquo;</span>
								</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>