<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashBoard}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CatPhone - Admin</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="mt-5 col">
					<input class="form-control me-2" type="text" placeholder="Search">
				</div>
				<div class="col mt-5 d-flex justify-content-end">
					<a href="/cat-phone/admin/product/phone-form"
						class="btn btn-outline-primary me-2">Add</a>
					<button type="button" class="btn btn-outline-danger me-2">Delete</button>
					<button type="button" class="btn btn-outline-secondary me-2">Import
						Excel</button>
					<button type="button" class="btn btn-outline-success">Export
						Excel</button>
				</div>
			</div>
			<hr>
			<div class="location p-2">
				<span>Admin/Product/Phone</span>
			</div>
			<div class="card">
				<div class="card-body">
					<table class="table text-center">
						<thead>
							<tr>
								<th scope="col">No.</th>
								<th scope="col">Image</th>
								<th scope="col">Title</th>
								<th scope="col">Price</th>
								<th scope="col">Stock</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="product,productStart : ${productDetailList}">
								<td th:text="${productStart.count}"></td>
								<td><img th:src="${product.productImage.get(0).imagePath}"
									width="50"></td>
								<td th:text="${product.title}"></td>
								<td
									th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></td>
								<td th:text="${product.stock}"></td>
								<td><a
									th:href="@{/cat-phone/admin/product/phone-form/{id}(id=${product.id})}"
									class="btn btn-primary">Edit</a></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${page.totalPages > 0}"
						class="d-flex justify-content-center">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item"
									th:classappend="${page.number == 0 ? 'disabled' : ''}"><a
									class="page-link"
									th:href="@{/cat-phone/admin/product/phone-manage(page=${page.number - 1})}"
									aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
								</a></li>
								<li class="page-item"
									th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
									th:classappend="${i == page.number ? 'active' : ''}"><a
									class="page-link"
									th:href="@{/cat-phone/admin/product/phone-manage(page=${i})}"
									th:text="${i + 1}"></a></li>
								<li class="page-item"
									th:classappend="${page.number + 1 >= page.totalPages ? 'disabled' : ''}">
									<a class="page-link"
									th:href="@{/cat-phone/admin/product/phone-manage(page=${page.number + 1})}"
									aria-label="Next"> <span aria-hidden="true">&raquo;</span>
								</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>