<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{DashBoard}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CatPhone - Admin</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="location">
				<span>Admin/Product/Phone-Accessories</span>
			</div>
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item" role="presentation"><a
							class="nav-link active" id="product-brands-tab"
							data-bs-toggle="tab" href="#brands" role="tab"
							aria-controls="brands" aria-selected="true">Brands</a></li>
						<li class="nav-item" role="presentation"><a class="nav-link"
							id="category-tab" data-bs-toggle="tab" href="#categories"
							role="tab" aria-controls="categories" aria-selected="false">Categories</a>
						</li>
						<li class="nav-item" role="presentation"><a class="nav-link"
							id="processor-tab" data-bs-toggle="tab" href="#processor"
							role="tab" aria-controls="processor" aria-selected="false">Processor</a>
						</li>
						<li class="nav-item" role="presentation"><a class="nav-link"
							id="storage-tab" data-bs-toggle="tab" href="#storage" role="tab"
							aria-controls="storage" aria-selected="false">Storage</a></li>
						<li class="nav-item" role="presentation"><a class="nav-link"
							id="gpu-tab" data-bs-toggle="tab" href="#gpu" role="tab"
							aria-controls="gpu" aria-selected="false">GPU</a></li>
						<li class="nav-item" role="presentation"><a class="nav-link"
							id="ram-tab" data-bs-toggle="tab" href="#ram" role="tab"
							aria-controls="gpu" aria-selected="false">RAM</a></li>

						<li class="nav-item" role="presentation"><a class="nav-link"
							id="operating_system-tab" data-bs-toggle="tab"
							href="#operating_system" role="tab"
							aria-controls="operating_system" aria-selected="false">Operating
								System</a></li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="brands" role="tabpanel"
							aria-labelledby="product-brands-tab">
							<div class="row">
								<div class="mt-5 col">
									<input class="form-control me-2" type="text"
										placeholder="Search">
								</div>
								<div class="col mt-5 d-flex justify-content-end">
									<a href="/cat-phone/admin/product/phone-accessories/brand"
										class="btn btn-outline-primary me-2">Add</a>
									<button type="button" class="btn btn-outline-secondary me-2">Import
										Excel</button>
									<button type="button" class="btn btn-outline-success">Export
										Excel</button>
								</div>
							</div>
							<hr>
							<div class="card mt-4">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">No.</th>
											<th scope="col">Brand ID</th>
											<th scope="col">Name</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="brand, iterStat : ${brandList}">
											<th scope="row" th:text="${iterStat.count}"></th>
											<td th:text="${brand.id}"></td>
											<td th:text="${brand.title}"></td>
											<td><a class="btn btn-outline-primary"
												th:href="@{/cat-phone/admin/product/phone-accessories/brand/edit(brandid=${brand.id})}">Edit</a>
												<a class="btn btn-outline-danger"
												th:href="@{/cat-phone/admin/product/phone-accessories/brand/delete(brandid=${brand.id})}">Delete</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="categories" role="tabpanel"
							aria-labelledby="category-tab">
							<div class="row">
								<div class="mt-5 col">
									<input class="form-control me-2" type="text"
										placeholder="Search">
								</div>
								<div class="col mt-5 d-flex justify-content-end">
									<a href="/cat-phone/admin/product/phone-accessories/category"
										class="btn btn-outline-primary me-2">Add</a>
									<button type="button" class="btn btn-outline-secondary me-2">Import
										Excel</button>
									<button type="button" class="btn btn-outline-success">Export
										Excel</button>
								</div>
							</div>
							<hr>
							<div class="card mt-4">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">No.</th>
											<th scope="col">Category ID</th>
											<th scope="col">Name</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="category, iterStat : ${categoryList}">
											<th scope="row" th:text="${iterStat.count}"></th>
											<td th:text="${category.id}"></td>
											<td th:text="${category.title}"></td>
											<td><a class="btn btn-outline-primary"
												th:href="@{/cat-phone/admin/product/phone-accessories/category/edit(categoryid=${category.id})}">Edit</a>
												<a class="btn btn-outline-danger"
												th:href="@{/cat-phone/admin/product/phone-accessories/category/delete(categoryid=${category.id})}">Delete</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="processor" role="tabpanel"
							aria-labelledby="processor-tab">
							<div class="row">
								<div class="mt-5 col">
									<input class="form-control me-2" type="text"
										placeholder="Search">
								</div>
								<div class="col mt-5 d-flex justify-content-end">
									<a href="/cat-phone/admin/product/phone-accessories/processor"
										class="btn btn-outline-primary me-2">Add</a>
									<button type="button" class="btn btn-outline-secondary me-2">Import
										Excel</button>
									<button type="button" class="btn btn-outline-success">Export
										Excel</button>
								</div>
							</div>
							<hr>
							<div class="card mt-4">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">No.</th>
											<th scope="col">Processor ID</th>
											<th scope="col">Name</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="processor, iterStat : ${processorList}">
											<th scope="row" th:text="${iterStat.count}"></th>
											<td th:text="${processor.id}"></td>
											<td th:text="${processor.title}"></td>
											<td><a class="btn btn-outline-primary"
												th:href="@{/cat-phone/admin/product/phone-accessories/processor/edit(processorid=${processor.id})}">Edit</a>
												<a class="btn btn-outline-danger"
												th:href="@{/cat-phone/admin/product/phone-accessories/processor/delete(processorid=${processor.id})}">Delete</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="storage" role="tabpanel"
							aria-labelledby="storage-tab">
							<div class="row">
								<div class="mt-5 col">
									<input class="form-control me-2" type="text"
										placeholder="Search">
								</div>
								<div class="col mt-5 d-flex justify-content-end">
									<a href="/cat-phone/admin/product/phone-accessories/storage"
										class="btn btn-outline-primary me-2">Add</a>
									<button type="button" class="btn btn-outline-secondary me-2">Import
										Excel</button>
									<button type="button" class="btn btn-outline-success">Export
										Excel</button>
								</div>
							</div>
							<hr>
							<div class="card mt-4">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">No.</th>
											<th scope="col">Storage ID</th>
											<th scope="col">Name</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="storage, iterStat : ${storageList}">
											<th scope="row" th:text="${iterStat.count}"></th>
											<td th:text="${storage.id}"></td>
											<td th:text="${storage.capacity}"></td>
											<td><a class="btn btn-outline-primary"
												th:href="@{/cat-phone/admin/product/phone-accessories/storage/edit(storageid=${storage.id})}">Edit</a>
												<a class="btn btn-outline-danger"
												th:href="@{/cat-phone/admin/product/phone-accessories/storage/delete(storageid=${storage.id})}">Delete</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="gpu" role="tabpanel"
							aria-labelledby="gpu-tab">
							<div class="row">
								<div class="mt-5 col">
									<input class="form-control me-2" type="text"
										placeholder="Search">
								</div>
								<div class="col mt-5 d-flex justify-content-end">
									<a href="/cat-phone/admin/product/phone-accessories/gpu"
										class="btn btn-outline-primary me-2">Add</a>
									<button type="button" class="btn btn-outline-secondary me-2">Import
										Excel</button>
									<button type="button" class="btn btn-outline-success">Export
										Excel</button>
								</div>
							</div>
							<hr>
							<div class="card mt-4">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">No.</th>
											<th scope="col">GPU ID</th>
											<th scope="col">Name</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="gpu, iterStat : ${gpuList}">
											<th scope="row" th:text="${iterStat.count}"></th>
											<td th:text="${gpu.id}"></td>
											<td th:text="${gpu.capacity}"></td>
											<td>
												<a class="btn btn-outline-primary"
												th:href="@{/cat-phone/admin/product/phone-accessories/gpu/edit(gpuid=${gpu.id})}">Edit</a>
												<a class="btn btn-outline-danger"
												th:href="@{/cat-phone/admin/product/phone-accessories/gpu/delete(gpuid=${gpu.id})}">Delete</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="ram" role="tabpanel"
							aria-labelledby="ram-tab">
							<div class="row">
								<div class="mt-5 col">
									<input class="form-control me-2" type="text"
										placeholder="Search">
								</div>
								<div class="col mt-5 d-flex justify-content-end">
									<a href="/cat-phone/admin/product/phone-accessories/ram"
										class="btn btn-outline-primary me-2">Add</a>
									<button type="button" class="btn btn-outline-secondary me-2">Import
										Excel</button>
									<button type="button" class="btn btn-outline-success">Export
										Excel</button>
								</div>
							</div>
							<hr>
							<div class="card mt-4">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">No.</th>
											<th scope="col">RAM ID</th>
											<th scope="col">Name</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="ram, iterStat : ${ramList}">
											<th scope="row" th:text="${iterStat.count}"></th>
											<td th:text="${ram.id}"></td>
											<td th:text="${ram.capacity}"></td>
											<td>
												<a class="btn btn-outline-primary"
												th:href="@{/cat-phone/admin/product/phone-accessories/ram/edit(ramid=${ram.id})}">Edit</a>
												<a class="btn btn-outline-danger"
												th:href="@{/cat-phone/admin/product/phone-accessories/ram/delete(ramid=${ram.id})}">Delete</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="operating_system" role="tabpanel"
							aria-labelledby="operating_system-tab">
							<div class="row">
								<div class="mt-5 col">
									<input class="form-control me-2" type="text"
										placeholder="Search">
								</div>
								<div class="col mt-5 d-flex justify-content-end">
									<a href="/cat-phone/admin/product/phone-accessories/operatingSystem"
										class="btn btn-outline-primary me-2">Add</a>
									<button type="button" class="btn btn-outline-secondary me-2">Import
										Excel</button>
									<button type="button" class="btn btn-outline-success">Export
										Excel</button>
								</div>
							</div>
							<hr>
							<div class="card mt-4">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">No.</th>
											<th scope="col">Operating System ID</th>
											<th scope="col">Name</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr
											th:each="operatingSystem, iterStat : ${operatingSystemList}">
											<th scope="row" th:text="${iterStat.count}"></th>
											<td th:text="${operatingSystem.id}"></td>
											<td th:text="${operatingSystem.name}"></td>
											<td>
											<a class="btn btn-outline-primary"
												th:href="@{/cat-phone/admin/product/phone-accessories/operatingSystem/edit(operatingSystemid=${operatingSystem.id})}">Edit</a>
												<a class="btn btn-outline-danger"
												th:href="@{/cat-phone/admin/product/phone-accessories/operatingSystem/delete(operatingSystemid=${operatingSystem.id})}">Delete</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>