<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashBoard}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CatPhone-Admin</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-8">
					<form method="GET" class="d-flex align-items-center">
						<div class="flex-fill me-2">
							<input class="form-control" type="text" name="title"
								placeholder="Search">
						</div>
						<div class="flex-fill me-2">
							<input type="number" class="form-control" name="minPrice"
								placeholder="Min Price">
						</div>
						<div class="flex-fill me-2">
							<input type="number" class="form-control" name="maxPrice"
								placeholder="Max Price">
						</div>
						<div class="flex-fill me-2">
							<input type="number" class="form-control" name="minStock"
								placeholder="Min Stock">
						</div>
						<div class="flex-fill me-2">
							<input type="number" class="form-control" name="maxStock"
								placeholder="Max Stock">
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</form>
				</div>
				<div class="col-md-4">
					<div class="d-flex justify-content-end">
						<button type="button" data-bs-toggle="modal"
							data-bs-target="#columnModal" class="btn btn-outline-success">Export
							Excel</button>
					</div>
				</div>
			</div>
			<hr>
		</div>


		<div class="card">
			<div class="card-body">
				<table class="table text-center" id="productTableReport">
					<thead>
						<tr>
							<th scope="col">No.</th>
							<th scope="col">Image</th>
							<th scope="col">Title</th>
							<th scope="col">Price</th>
							<th scope="col">Stock</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product,productStart : ${productDetails}">
							<td class="hidden-product-id" style="display: none;"
								th:text="${product.id}"></td>
							<td th:text="${productStart.count}"></td>
							<td><img
								th:src="${product.productImage.size() > 0 ? product.productImage.get(0).imagePath : '' }"
								width="50"></td>
							<td th:text="${product.title}"></td>
							<td
								th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT') + ' VND'}"></td>
							<td th:text="${product.stock}"></td>
							<td><a class="btn btn-primary" data-toggle="modal"
								data-target="#chartModal">View Chart</a></td>

						</tr>
					</tbody>
				</table>
				<div th:if="${page.totalPages > 0}"
					class="d-flex justify-content-center">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item"
								th:classappend="${page.number == 0 ? 'disabled' : ''}"><a
								class="page-link"
								th:href="@{/admin/cat-phone/report/product(page=${page.number - 1}, title=${title}, minPrice=${minPrice}, maxPrice=${maxPrice}, minStock=${minStock}, maxStock=${maxStock})}"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a></li>
							<li class="page-item disabled"><a class="page-link"> <span
									th:text="'Page ' + ${page.number + 1} + ' of ' + ${page.totalPages}"></span>
							</a></li>
							<li class="page-item"
								th:classappend="${page.number + 1 >= page.totalPages ? 'disabled' : ''}">
								<a class="page-link"
								th:href="@{/admin/cat-phone/report/product(page=${page.number + 1}, title=${title}, minPrice=${minPrice}, maxPrice=${maxPrice}, minStock=${minStock}, maxStock=${maxStock})}"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span>
							</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="modal fade" id="columnModal" tabindex="-1"
			aria-labelledby="columnModalLabel" aria-hidden="true">
			<div class="modal-dialog custom-modal-xl modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="columnModalLabel">Select column
							to export</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col" style="display: none">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="ID"
										id="ID" checked> <label class="form-check-label"
										for="ID">ID</label>
								</div>
							</div>
							<div class="col" style="display: none">
								<div class="form-check">
									<input class="form-check-input" type="checkbox"
										name="ProductID" id="ProductID" checked> <label
										class="form-check-label" for="ProductID">Product ID</label>
								</div>
							</div>
							<div class="col">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="Series"
										id="Series" checked> <label class="form-check-label"
										for="Series">Series</label>
								</div>
							</div>
							<div class="col">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="Version"
										id="Version" checked> <label class="form-check-label"
										for="Version">Version</label>
								</div>
							</div>
							<div class="col">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="Title"
										id="Title" checked> <label class="form-check-label"
										for="Title">Title</label>
								</div>
							</div>
							<div class="col">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="GPU"
										id="GPU" checked> <label class="form-check-label"
										for="GPU">GPU</label>
								</div>
							</div>
							<div class="col">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="Storage"
										id="Storage" checked> <label class="form-check-label"
										for="Storage">Storage</label>
								</div>
							</div>
							<div class="col">
								<div class="form-check">
									<input class="form-check-input" type="checkbox"
										name="Processor" id="Processor" checked> <label
										class="form-check-label" for="Processor">Processor</label>
								</div>
							</div>
							<div class="col">
								<div class="form-check">
									<input class="form-check-input" type="checkbox"
										name="Operating System" id="OperatingSystem" checked>
									<label class="form-check-label" for="OperatingSystem">Operating
										System</label>
								</div>
							</div>
							<div class="col">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="Size"
										id="Size" checked> <label class="form-check-label"
										for="Size">Size</label>
								</div>
							</div>
							<div class="col">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="Weight"
										id="Weight" checked> <label class="form-check-label"
										for="Weight">Weight</label>
								</div>
							</div>
							<div class="col">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="Stock"
										id="Stock" checked> <label class="form-check-label"
										for="Stock">Stock</label>
								</div>
							</div>
							<div class="col">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="Price"
										id="Price" checked> <label class="form-check-label"
										for="Price">Price</label>
								</div>
							</div>
							<div class="col">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="RAM"
										id="RAM" checked> <label class="form-check-label"
										for="RAM">RAM</label>
								</div>
							</div>
							<div class="col">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="Status"
										id="Status" checked> <label class="form-check-label"
										for="Status">Status</label>
								</div>
							</div>
							<hr>
							<h4>The excel file will have the form:</h4>
							<hr>
							<div id="headerDisplay"></div>
							<div class="col">
								<button type="submit" class="btn btn-primary"
									id="exportExcelBtn">Export</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</body>
</html>