<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<nav layout:fragment="Header"
	class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
	<div class="container">
		<a class="navbar-brand fw-bold" href="#">Sdevice</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mb-2 mb-lg-0">
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link active"
					th:href="@{'/product'}">Phones	</a></li>
			</ul>
			<div class="ms-auto d-flex gap-1">
				<button th:if="${session.user == null}" type="button"
					class="btn btn-light btn-sm border" data-bs-toggle="modal"
					data-bs-target="#authModal">
					<i class="fas fa-shipping-fast fa-flip-horizontal"></i> Cart
					History
				</button>

				<a th:if="${session.user != null}" href="/order-history" type="button"
					class="btn btn-light btn-sm border d-flex align-items-center gap-1">
					<i class="fas fa-shipping-fast fa-flip-horizontal"></i> Cart
					History
				</a>

				<button th:if="${session.user == null}" type="button"
					class="btn btn-light btn-sm border" data-bs-toggle="modal"
					data-bs-target="#authModal">
					<i class="fas fa-cart-plus"></i> Cart
				</button>

				<a th:if="${session.user != null}" href="/cart" type="button"
					class="btn btn-light btn-sm border d-flex align-items-center gap-1">
					<i class="fas fa-cart-plus"></i> Cart
				</a>

				<button th:if="${session.user == null}" data-bs-toggle="modal"
					data-bs-target="#authModal" type="button"
					class="btn btn-dark btn-sm">
					<i class="far fa-user"></i> Sign In
				</button>

				<ul th:if="${session.user != null}"
					class="navbar-nav ms-auto mb-2 mb-lg-0 profile-menu border rounded-circle">
					<li class="nav-item dropdown d-flex align-items-center"><a
						class="nav-link mx-1" href="#" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> <i
							class="fas fa-user"></i>
					</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="/profile"><i
									class="fas fa-sliders-h fa-fw"></i> Profile</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="/logout"><i
									class="fas fa-sign-out-alt fa-fw"></i> Log Out</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
</html>